// Variables
$font-stack: 'Press Start 2P', cursive;
$fontColor:#00FF66;
$wallpaperLg: url(/pattern-large.jpg);
$buttonEffects: rgb(237, 240, 71); 
$blueButton: blue;
$yellowButton: yellow;
$greenButton: green;
$pokeDexColor: red;
$screenColor: #3A3A3A;
$borderColor: black;

body {
	background: $wallpaperLg;
	background-size: cover;
	font-family: $font-stack;
	font-size: 16px;
}
h1 {
	font-family: $font-stack;
	color: $fontColor;
	size: 20px;
}
.poke-thrasher {
	position: relative;
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;	
	margin-left: 15%;
	height: 900px;
	width: 1200px;
	background-color: $pokeDexColor;
	border-top-left-radius: 190px;
	border: solid $borderColor 6px;
}
.icon {
	position: relative;
	display: flex-box;
	flex-direction: row;
	justify-content: flex-start;
	border-radius: 55px;	
	border: solid $borderColor 8px;
	margin-top: 8%;
	margin-left:5%;
	height: 85%;
	width: 45%;
}
.btn-group button {
	margin-left: 20%;
	float: left;
}
#blue {
		background-color: $blueButton;
		border: solid $borderColor 6px;
		cursor: pointer;
		height: 100px;
		width: 100px;
		border-radius: 50px;
		margin-top: 2%;
		margin-left: 5%;
	}
#green {
		background-color: $greenButton;
		border: solid $borderColor 6px;
		cursor: pointer;
		height: 100px;
		width: 100px;
		border-radius: 50px;
		margin-top: 2%;
		margin-left: 5%;
	}
#yellow {
		background-color: $yellowButton;
		border: solid $borderColor 6px;
		cursor: pointer;
		height: 100px;
		width: 100px;
		border-radius: 50px;
		margin-top: 2%;
		margin-left: 5%;
	}

.icon-display {
	position: relative;
	height: 600px;
	width: 480px;
	background-color: $screenColor;
	border-radius: 40px;
	margin-top: 25%;
	margin-left: 2%;
	border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px inset;
	#name {
		margin-top: 20%;
		font-size: 28px;
		line-height: 1.8;
	}
	#icon {
		height: 450px;
		width: 450px;
	}
}
.door {
	position: relative;
	display: flex-box;
	flex-direction: row;
	justify-content: flex-start;
	border-radius: 55px;	
	border: solid $borderColor 8px;
	margin-top: 8%;
	height: 85%;
	width: 45%;
	.stats-display {
		position: relative;
		height: 600px;
		width: 480px;
		background-color: $screenColor;
		border-radius: 40px;
		margin-top: 25%;
		margin-left: 2%;
		border: 2px solid;
		padding: 10px;
		box-shadow: 5px 8px inset;
		.hp {
			margin-top: 20%;
			line-height: 1.6;
		}
		.atk {
			line-height: 1.6;
		}
		.def {
			line-height: 1.6;
		}
		.type {
			line-height: 1.6;
		}
		.abilities {
			line-height: 1.6;
		}
		#abilities {
			font-family: $font-stack;
			color: $fontColor;
			font-size: 28px;
		}
	}
}




