
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: url(pattern-medium.jpg);
	background-size: cover;
}

.container {
	height: 800px;
	width: 1095px;
	background-color: red;
}
.door {
	height: 
}